@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
html, body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family:"Work Sans", sans-serif;
  color: rgb(187, 102, 102);
}

button{
  all:unset;
}



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
#mainDiv{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 50vw;
  background-color: rgb(6, 19, 64);
}
#mainProgramDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%; 
  background-color: green;
}
#mainProgramWrapperDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  background-color: rgb(6, 19, 64);

}
#programNameMainDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 10%;
  background-color: rgb(26, 26, 104);
}
#mainHeaderDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: black;
  color: rgb(187, 102, 102);
  box-sizing: border-box;
  
}
#mainSessionDiv{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  background-color: rgb(26, 26, 104);
  
}
#sessionTextDiv{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
  height: 100%;
  font-size: 1.1rem;
  
  
}
#onOffMainDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: rgb(26, 26, 104);
}
#offTextDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  
  color: white;
  height: 35px;
  width: 70px;
  font-size: 0.9rem;
  font-weight: 500;
  
}
#onTextDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  
  color: white;
  height: 35px;
  width: 70px;
  font-size: 0.9rem;
  font-weight: 500;
  
}


#startSessionDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;

}
#startSessionButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  
  background-color: rgb(26, 26, 104);
  color: rgb(187, 102, 102);
  font-size: 1.1rem;
  
  
}
#startSessionButton:hover{
  background-color: rgb(41, 41, 134);
}
#coursesMainDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 12.25vw;
  background-color:green;
}

#coursesTitleDiv{
  display: flex;
  height: 20%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  align-items: center;
  justify-content: center;
}
#coursesListedDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 12.25vw;
  
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  overflow-y: auto;
}
#addCoursesWrapperDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 12.25vw;
  background-color: rgb(26, 26, 104);
  gap: 20%;
}
#addCourseDiv{
  display: flex;
  height: 50%;
  width: 100%;
  
  flex-direction: column;
}
#addCourseInput{
  
  width: 100%;
  height: 100%;
  background-color: black;
  
  border:none;
  color: green;

  text-align: left;
  
  font-size: 0.9rem;
}
#addCourseInput::placeholder{
  text-align: center;
}
input:focus{
  outline: none;
  
}
input::placeholder{
  color: green;
}

#addCourseButtonDiv{
  display: flex;
  height: 40%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#addCourseButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#addCourseButton:hover{
  background-color: rgb(41, 41, 134);
}
#addCourseInputDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
}
#addedCourseInfoDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
}
#topC{
  padding-top: 15.8vh;
}
.courseMemo{
  height: 30px;
}
.courseMemo h1{
  font-size: 1.1rem;
  
}
#listNotesWrapper{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 12.25vw;
  position:relative;
}
#listNotesButtonDiv{
  display: flex;
  height: 20%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listNotesButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listNotesButton:hover{
  background-color: rgb(41, 41, 134);
}
#listNotesFilterDiv{
  display: flex;
  height: 15%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listNotesFilterButton{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listNotesFilterButton:hover{
  background-color: rgb(41, 41, 134);
}
#dropDownDiv{
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-y: auto;
  
  
}
.dropDownButton{
  padding-top: 10px;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
}
.mappedCourseWrapperDiv{
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  
  align-items: center;
  
  position: relative;
  
}
.mappedCourseDiv{
  color: green;
  display: flex;
  font-size: 0.9rem;
  padding-left: 0.3vw;
}
#toggleableCourseInfoDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
  color: green;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#emptyCourseDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
  color: green;
  font-size: 0.9rem;
  align-items: center;
  padding: 10px;
  text-align: center;
}
#duplicateCourseDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
  color: green;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#sessionStatusErrorDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
  color: green;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#memoInputAndListingDiv{
  display: flex;
  height: 40%;
  width: 100%;
  background-color: blue;
}
#addNoteWrapperDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}
#addNoteTitleDiv{
  display: flex;
  height: 27%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
}
#addNoteInputWrapperDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgb(6, 19, 64);
  
}
#addNoteInputDiv{
  display: flex;
  width: 71%;
  height: 24.7vh;
  background-color: rgb(6, 19, 64);
  padding-top: 4.5vh;
  
  position: relative;
  
}
#addNoteButtonsDiv{
  display: flex;
  flex-direction: column;
  align-items: left;
  
  width: 31%;
  height: 100%;
  background-color: rgb(6, 19, 64);
  position: relative;
}
#addNoteButton{
  height: 72.88px;
  width: 12.25vw;
  background-color: rgb(26, 26, 104); 
  text-align: center;
  position: absolute;
  top: 4.5vh;
}
#saveNotesButton{
  height: 72.88px;
  width: 12.25vw;
  background-color: rgb(26, 26, 104);
  text-align: center;
  position:absolute;
  top: 12.5vh;
}
#addNoteButton:hover{
  background-color: rgb(41, 41, 134);
}
#saveNotesButton:hover{
  background-color: rgb(41, 41, 134);
}
#addNoteInputField{
  width: 86%;
  height: 40px;
  border: none;
  background-color: black;
  color: green;
  position:absolute;
  top: 4.5vh;
  left: 1.4vw;
  text-align: left;
  
}
#addNoteInputField::placeholder{
  text-align: center;
}
#inputInfoDiv{
  display: flex;
  width: 86.6%;
  height: 40px;
  background-color: black;
  position:absolute;
  top: 16vh;
  left: 1.4vw;
}
#betweenInputDiv{
  display: flex;
  width: 86.6%;
  height: 65.76px;
  background-color: rgb(26, 26, 104);
  position: absolute;
  left: 1.4vw;
  top: 9vh;
}
.addNoteCourses{
  background-color: green;
  width: 35px;
  height: 20px;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  position: absolute;
  left: 7.65vw;
}
.deleteCourse{
  background-color: red;
  width: 35px;
  height: 20px;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  position: absolute;
  left: 9.97vw;
}