@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
html, body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family:"Work Sans", sans-serif;
  color: rgb(187, 102, 102);
}

button{
  all:unset;
}



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
#mainDiv{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 50vw;
  background-color: red;
}
#mainProgramDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%; 
  background-color: green;
}
#mainProgramWrapperDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  background-color: rgb(6, 19, 64);

}
#programNameMainDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 10%;
  background-color: rgb(26, 26, 104);
}
#mainHeaderDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: black;
  color: rgb(187, 102, 102);
  box-sizing: border-box;
  
}
#mainSessionDiv{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  background-color: rgb(26, 26, 104);
  
}
#sessionTextDiv{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
  height: 100%;
  font-size: 17px;
  
  
}
#onOffMainDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: rgb(26, 26, 104);
}
#onOffTextDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  
  color: white;
  height: 35px;
  width: 70px;
  font-size: 17px;
  font-weight: 500;
  
}



#startSessionDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;

}
#startSessionButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  
  background-color: rgb(26, 26, 104);
  color: rgb(187, 102, 102);
  font-size: 17px;
  
  
}
#startSessionButton:hover{
  background-color: rgb(41, 41, 134);
}
#coursesMainDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 25%;
  background-color:green;
}

#coursesTitleDiv{
  display: flex;
  height: 20%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  align-items: center;
  justify-content: center;
}
#coursesListedDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  overflow-y: auto;
}
#addCoursesWrapperDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 25%;
  background-color: rgb(26, 26, 104);
  gap: 20%;
}
#addCourseDiv{
  display: flex;
  height: 50%;
  width: 100%;
  
  flex-direction: column;
}
#addCourseInput{
  
  width: 100%;
  height: 100%;
  background-color: black;
  
  border:none;
  color: green;

  text-align: center;
  
}
input:focus{
  outline: none;
}
input::placeholder{
  color: green;
}

#addCourseButtonDiv{
  display: flex;
  height: 40%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#addCourseButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#addCourseButton:hover{
  background-color: rgb(41, 41, 134);
}
#addCourseInputDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
}
#addedCourseInfoDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
}
#topC{
  padding-top: 15.8vh;
}
.courseMemo{
  height: 30px;
}
.courseMemo h1{
  font-size: 17px;
}
#listCoursesWrapper{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 25%;
}
#listCoursesButtonDiv{
  display: flex;
  height: 20%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listCoursesButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listCoursesButton:hover{
  background-color: rgb(41, 41, 134);
}
#listCoursesFilterDiv{
  display: flex;
  height: 15%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listCoursesFilterButton{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listCoursesFilterButton:hover{
  background-color: rgb(41, 41, 134);
}