@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-family:"Pixelify Sans", sans-serif;
  color: rgb(187, 102, 102);
  background-color: black;
  box-sizing: border-box;
  
}

button{
  border: none;
  color: green;
  font-size: 1.1rem;
  padding: 0;
  margin: none;
  font-family:"Pixelify Sans", sans-serif;
}
button:hover{
  border: 1px solid green;
}



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  
}
#mainDiv{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 50vw;
  background-color: rgb(6, 19, 64);
  background-color: black;
}
#mainProgramDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 90%; 
  background-color: green;
}
#mainProgramWrapperDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  background-color: rgb(6, 19, 64);
  background-color: black;

}
#programNameMainDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 10%;
  background-color: rgb(26, 26, 104);
  background-color: black;
}
#mainHeaderDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color: black;
  color: rgb(187, 102, 102);
  box-sizing: border-box;
  
}
#mainSessionDiv{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  background-color: rgb(26, 26, 104);
  background-color: black;
  
}
#sessionTextDiv{
  display: flex;
  align-items: center;
  justify-content: right;
  width: 50%;
  height: 100%;
  font-size: 1.1rem;
  color: green;
  
}
#onOffMainDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: rgb(26, 26, 104);
  background-color: black;
}
#offTextDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  
  color: white;
  height: 35px;
  width: 70px;
  font-size: 0.9rem;
  font-weight: 500;
  
}
#onTextDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  
  color: white;
  height: 35px;
  width: 70px;
  font-size: 0.9rem;
  font-weight: 500;
  
}


#startSessionDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;

}
#startSessionButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: none;
  
  background-color: rgb(26, 26, 104);
  color: rgb(187, 102, 102);
  color: green;
  font-size: 1.1rem;
  background-color: black;
  
  
}
#startSessionButton:hover{
  background-color: rgb(41, 41, 134);
  background-color: black;
  border: 1px solid green;
}
#coursesMainDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 12.25vw;
  background-color:green;
}

#coursesTitleDiv{
  display: flex;
  height: 20%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  background-color: black;
  align-items: center;
  justify-content: center;
  color: green;
}
#coursesListedDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 14.25vw;
  
  justify-content: flex-start;
  background-color: rgb(0, 0, 0);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
}
#addCoursesWrapperDiv{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 12.25vw;
  background-color: rgb(26, 26, 104);
  background-color: black;
  gap: 20%;
}
#addCourseDiv{
  display: flex;
  height: 50%;
  width: 100%;
  
  flex-direction: column;
}
#addCourseInput{
  
  width: 100%;
  height: 100%;
  background-color: black;
  
  border: none;
  color: green;
  box-sizing: border-box;
  text-align: left;
  
  font-size: 0.9rem;
}
#addCourseInput:hover{
  border:1px solid green;
}
#addCourseInput::placeholder{
  text-align: center;
}
input:focus{
  outline: none;
  
}
input::placeholder{
  color: green;
  font-family:"Pixelify Sans", sans-serif;
}

#addCourseButtonDiv{
  display: flex;
  height: 40%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#addCourseButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  background-color: black;
}
#addCourseButton:hover{
  background-color: rgb(41, 41, 134);
  background-color: black;
}
#addCourseInputDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
}
#addedCourseInfoDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
}
#topC{
  padding-top: 15.8vh;
}
.courseMemo{
  height: 30px;
}
.courseMemo h1{
  font-size: 1.1rem;
  color: green;
  
}
#listNotesWrapper{
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 12.25vw;
  position:relative;
}
#listNotesButtonDiv{
  display: flex;
  height: 20%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  background-color: black;
}
#listNotesButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  background-color: black;
}
#listNotesButton:hover{
  background-color: rgb(41, 41, 134);
  background-color: black;
}
#listNotesFilterDiv{
  display: flex;
  height: 15%;
  width: 100%;
  background-color: rgb(26, 26, 104);
}
#listNotesFilterButton{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  background-color: black;
}
#listNotesFilterButton:hover{
  background-color: rgb(41, 41, 134);
  background-color: black;
}
#dropDownDiv{
  height: 65%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow-y: auto;
  gap: 5px;
  
  
}
.dropDownButton{
  padding-top: 10px;
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  background-color: black;
}
.mappedCourseWrapperDiv{
  display: flex;
  flex-direction: row;
  height: 15%;
  width: 100%;
  
  align-items: center;
  
  position: relative;
  
}
.mappedCourseDiv{
  color: green;
  display: flex;
  font-size: 0.9rem;
  padding-left: 0.15vw;
}
#toggleableCourseInfoDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
  color: green;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#emptyCourseDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
  color: red;
  font-size: 0.9rem;
  align-items: center;
  padding: 10px;
  text-align: center;
}
#duplicateCourseDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
  color: red;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#sessionStatusErrorDiv{
  display: flex;
  height: 30%;
  width: 100%;
  background-color: black;
  color: red;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
#memoInputAndListingDiv{
  display: flex;
  height: 40%;
  width: 100%;
  background-color: black;
  
}
#addNoteWrapperDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  
}
#addNoteTitleDiv{
  display: flex;
  height: 27%;
  width: 100%;
  background-color: rgb(26, 26, 104);
  background-color: black;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  color: green;
}
#addNoteInputWrapperDiv{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: rgb(6, 19, 64);
  background-color: black;
  
}
#addNoteInputDiv{
  display: flex;
  width: 71%;
  height: 24.7vh;
  background-color: rgb(6, 19, 64);
  padding-top: 4.5vh;
  background-color: black;
  position: relative;
  
}
#addNoteButtonsDiv{
  display: flex;
  flex-direction: column;
  align-items: left;
  
  width: 31%;
  height: 100%;
  background-color: rgb(6, 19, 64);
  background-color: black;
  position: relative;
}
#addNoteButton{
  height: 72.88px;
  width: 12.25vw;
  background-color: rgb(26, 26, 104); 
  text-align: center;
  position: absolute;
  top: 4.4vh;
  background-color:black;
}
#saveNotesButton{
  height: 72.88px;
  width: 12.25vw;
  background-color: rgb(26, 26, 104);
  text-align: center;
  position:absolute;
  top: 12.5vh;
  background-color: black;
}
#addNoteButton:hover{
  background-color: rgb(41, 41, 134);
  background-color: black;
}
#saveNotesButton:hover{
  background-color: rgb(41, 41, 134);
  background-color: black;
}
#addNoteInputField{
  width: 86%;
  height: 40px;
  border: none;
  background-color: black;
  color: green;
  position:absolute;
  top: 4.5vh;
  left: 1.4vw;
  text-align: left;
  
  padding: 0;
  margin: none;
  
}
#addNoteInputField:hover{
  border: 1px solid green;
  box-sizing: border-box;
}
#addNoteInputField::placeholder{
  text-align: center;
}
#inputInfoDiv{
  display: flex;
  width: 86.6%;
  height: 40px;
  background-color: black;
  position:absolute;
  top: 16vh;
  left: 1.4vw;
  box-sizing: border-box;
  color: red;
}
#betweenInputDiv{
  display: none;
  width: 86.6%;
  height: 64.76px;
  background-color: rgb(26, 26, 104);
  position: absolute;
  left: 1.4vw;
  top: 9vh;
  background-color: black;
  z-index: 1;
}
.addNoteCourses{
  background-color: green;
  width: 35px;
  height: 20px;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  position: absolute;
  left: 7.65vw;
}
.deleteCourse{
  background-color: red;
  width: 35px;
  height: 20px;
  font-size: 0.8rem;
  color: white;
  text-align: center;
  position: absolute;
  left: 10.5vw;
}
.addNoteCourses:hover{
  background-color: rgb(0, 78, 0);
  border: none;
}
.deleteCourse:hover{
  background-color: rgb(179, 2, 2);
  border: none;
}
#listNotesAreaWrapper{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: red;
  flex-direction: column;
}
#lockedAddButtonDiv{
  color: red;
}
#listNotesTitleDiv{
  display: flex;
  width: 100%;
  height: 27%;
  background-color: black;
  color: green;
  align-items: center;
  justify-content: center;
}
#listNotesAreaDiv{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.currentSessionMappedDiv{
  display: flex;
  width: 100%;
  height: 3vh;
  background-color:black;
  border: 1px solid green;
  align-items: center;
  justify-content: center;
  color: green;
  box-sizing: border-box;
  font-size: 0.9rem;
}
#sessionNotesDiv{
  background-color: black;
  height: 100%;
  padding: 1vh;
  display: flex;
  align-items: center;
  
  flex-direction: column;
  overflow-y: auto;
  gap: 1vh;
}
.dropdownButton{
  display: flex;
  background-color: black;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5vh;
}
#listNotesButtonAreaWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: red;
}
#listNotesButtonAreaTitle{
  display: flex;
  width: 100%;
  height: 27%;
  background-color: black;
  color: green;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}
#listNotesButtonAreaDiv{
  display: flex;
  width: 100%;
  height: 73%;
  background-color: black;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  
  
}
.allListedCoursesWrapper{
  display: flex;
  height: 7.3vh;
  width: 100%;
  background-color: black;
  flex-direction: column;
  color: green;
  
}
.listedCoursesInfoWrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 3.65vh;
  justify-content: space-evenly;
  position: relative;
  
}
.listedCoursesCourseName{
  position: absolute;
  
  left: 2vw;
  
  height: 3.65vh;
  display: flex;
  align-items: center;
}
.listedCoursesId{
  position: absolute;
  
  left: 21vw;
  height: 3.65vh;
  
  display: flex;
  align-items: center;
}
.listedCoursesTimestamp{
  position: absolute;
  height: 3.65vh;
  left: 35vw;
  
  display: flex;
  align-items: center;
}
.listedCoursesText{
  display: flex;
  align-items: center;
  justify-content: left;
  height: 3.65vh;
  
  width: 91%;
  position: absolute;
  right: 0;
  
  
}
.listedCoursesText p{
  padding-left: 10px;
  text-decoration: underline;
}
.deleteNote{
  width: 35px;
  height: 20px;
  font-size: 0.8em;
  background-color: red;
  color: white;
  position: absolute;
  left: 2vw;
  top: 0.65vh;
}
.listedCoursesTextWrapper{
  display: flex;
  flex-direction: row;
  height: 3.65vh;
  width: 100%;
  
  position: relative;
}
.deleteNoteButtonDiv{
  display: flex;
  height: 3.65vh;
  position: relative;
  width: 9%;
  
}